@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-900;
  scroll-behavior: smooth;
}

.rich-text-copy {
  @apply w-full lg:w-[720px] lg:mx-auto px-6 lg:px-0;
}

.rich-text-heading {
  @apply w-full lg:w-[720px] lg:mx-auto px-6 lg:px-0 font-bold mb-1;
}

.loading-background {
  @apply bg-gray-300;
}

.loading-background-animation {
  @apply bg-gray-300 animate-pulse;
}

.section-layout {
  @apply flex flex-col pt-8 pb-16 md:pt-10 px-6 lg:px-16 xl:px-48;
}

.section-layout > h2 {
  @apply text-3xl lg:text-5xl font-semibold mb-8 lg:mb-12 w-fit lg:leading-[3.5rem];
}

.introduction-letter {
  @apply bg-black text-white mx-4 lg:w-1/2 lg:mx-auto rounded-xl p-6 md:p-12 text-xl flex flex-col justify-between;
}

.video-container {
  position: relative;
  width: 100%;
  height: 70vh;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
